include assets/yahoo_480x320/_includes/var.pug

doctype html
html
	head
		block head
			+link("example.css")
			+link("tweenjs.css")
			+link("style.css")
			+script("examples.js")
			+script("tweenjs-NEXT.min.js")
			+script("CSSPlugin.js")
			//[if IE] <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> [endif]
		script#editable.
			
				var w=480;
				var h=320;
				
			function init() {
				createjs.CSSPlugin.install(createjs.Tween);
				var content = document.getElementById("scene__1");
				var bg_scene = document.getElementById("bg_scene");
				var drink_infos = document.getElementById("drink__infos");
				var nome_drink = document.getElementById("nome_drink");
				var boom = document.getElementById("boom");
				var frase_1 = document.getElementById("infos__frase_1");
				var frase_2 = document.getElementById("infos__frase_2");
				var frase_3 = document.getElementById("infos__frase_3");
				var boom_1 = document.getElementById("boom__item_1");
				var boom_2 = document.getElementById("boom__item_2");
				var conheca = document.getElementById("conheca");
				

				var nome_drink = 
							createjs.Tween.get(nome_drink, {loop: false})
							.to({ left: -w }, 0).wait(2000)
							.to({ left: 0 },350, createjs.Ease.quintOut).wait(300)
							.play(frase1)
				var frase1 = 
							createjs.Tween.get(frase_1, {loop: false})
							.to({ left: -w }, 0).wait(1400)
							.to({ left: 200 },400, createjs.Ease.quintOut).wait(300)
							.play(frase2)
				var frase2 = 
							createjs.Tween.get(frase_2, {loop: false})
							.to({ left: -w }).wait(1550)
							.to({ left: 200 },350, createjs.Ease.quintOut).wait(600)
							.play(frase3)
				var frase3 = 
							createjs.Tween.get(frase_3, {loop: false})
							.to({ left: -w }).wait(1500)
							.to({ left: 200 },650, createjs.Ease.quintOut).wait(700)
							
				var boom1 = 
							createjs.Tween.get(boom_1, {loop: false})
								.to({width: 160, height: 100, opacity:0}, 10).wait(4000)
								.to({width: 219, height: 127, opacity:1, left:-30, top:-15}, 700, createjs.Ease.backOut)
								

					createjs.Tween.get(saibamais, {loop: false})
						.to({opacity:0}).wait(8300)
						.to({opacity:1}, 1300, createjs.Ease.Linear)
			}
			
			
		style.
			#canvas{
				position: relative;
				width: 480px;
				height: 320px;
				margin: 0 auto;
				background: #000;
				overflow:hidden;
			}
			#canvas *{
				transition: transform .2s ease-out;
			}
			#scene__1 {
				width: 480px;
				height: 320px;
				position: absolute;
				transition: transform .2s ease-out;
				top: 0;
				left: 0;
			}
			.drink{
				position: absolute;
				z-index:2;
				bottom: 0; 
			}
			#nome_drink{
				position: absolute;
				z-index:3;
				bottom: 5px;
				left: -150px;
			}
			#bg_scene {
				width: 480px;
				height: 320px;
				position: absolute;
			}
			#drink__infos {
				position: absolute;
				top: 140px;
				z-index:1;
			}
			#infos__frase_1,#infos__frase_2,#infos__frase_3 {
				position: absolute;
				left: -200px;
			}
			#infos__frase_2 {
				top: 33px;
			}
			#infos__frase_3 {
				top: 65px;
			}
			#boom {
				position: absolute;
				left: 230px;
				top: 25px;
				height: 100px;
			}
			#boom__item_1 {
				position: relative;
			}
			a {
				
			}

			#saibamais {
				position: absolute;
				bottom:2px;
				right: 85px;
			}
			
			#link_gpa {
				position: absolute;
				bottom:14px;
				right: 35px;
				width: 67px;
				height:59px;
			}
			#aprecie {
				position: absolute;
				bottom:0px;
				left: 5px;
				width:103px;
				height: 24px;
				z-index:3;
			}
	body(onload="init()")
		div#canvas.content
			div#scene__1
				div#bg_scene(style="background:url("+img_dir+"bg__scene.jpg); background-size: cover")
				img#nome_drink(src=img_dir+'nome_drink.png')
				img.drink(src=img_dir+'drink__whisky.png')
				div#drink__infos
					img#infos__frase_1(src=img_dir+'txt_aprendaafazer.png')
					img#infos__frase_2(src=img_dir+'txt_osdrinksereceba.png')
					img#infos__frase_3(src=img_dir+'txt_osingredientesemcasa.png')

				div#boom
					img#boom__item_1(src=img_dir+'logo.png')

			img#saibamais(src=img_dir+'cta_saibamais.png')
			img#link_gpa(src=img_dir+'logo_gpa.png')
			img#aprecie(src=img_dir+'txt_apreciecommoderacao.png')
