-dir = "http://www.sosmicrosoftvarejo.com.br/BCMNews_16Set_03/BCMNews_16Set_03/"	



.
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css">
			<!-- body {
				margin: 0;
				padding: 0;
			}

			.ReadMsgBody {
				width: 100%;
			}

			.ExternalClass {
				width: 100%;
			}

			#outlook a {
				padding: 0;
			}

			--> @media only screen and (max-width:768px) {
				table[class=main] {
					width: 750px !important;
				}
				td[class=texto] {
					width: 750px !important;
				}
				td[class=col] {
					width: 730px !important;
					text-align: center;
					display: block !important;
				}
				td[class=icon] {
					width: 730px !important;
					text-align: center;
					display: block !important;
					padding: 0;
				}
				td[class=colbutton] {
					width: 750px !important;
					text-align: center;
					display: block !important;
					padding-bottom: 20px;
				}
				td[class=button] {
					width: 750px !important;
					text-align: center;
					padding-bottom: 20px;
					display: block !important;
				}
				table[class=row] {
					width: 750px !important;
				}
				table[class=quote] {
					width: 730px !important;
					display: block;
				}
				td[class=cols] {
					width: 730px !important;
					text-align: center;
					display: block !important;
				}
				table[class=icons] {
					width: 730px !important;
					text-align: center;
					display: block !important;
				}
				table[class=rows] {
					width: 710px !important;
					display: block;
				}
				table[class=social] {
					width: 230px !important;
					margin: 0 auto 10px;
				}
				table[class=hidden],
				td[class=hidden] {
					display: none !important;
				}
			}

			@media only screen and (max-width:599px) {
				table[class=main] {
					width: 599px !important;
				}
				td[class=texto] {
					width: 550px !important;
				}
				td[class=col] {
					width: 579px !important;
					text-align: center;
					display: block !important;
				}
				td[class=icon] {
					width: 579px !important;
					text-align: center;
					display: block !important;
					padding: 0;
				}
				td[class=colbutton] {
					width: 579px !important;
					text-align: center;
					display: block !important;
					padding-bottom: 20px;
				}
				td[class=button] {
					width: 579px !important;
					text-align: center;
					padding-bottom: 20px;
					display: block !important;
				}
				table[class=row] {
					width: 579px !important;
				}
				table[class=quote] {
					width: 559px !important;
					display: block;
				}
				td[class=cols] {
					width: 549px !important;
					text-align: center;
					display: block !important;
				}
				table[class=icons] {
					width: 549px !important;
					text-align: center;
					display: block !important;
				}
				table[class=rows] {
					width: 540px !important;
					display: block;
				}
				table[class=social] {
					width: 130px !important;
					margin: 0 auto 10px;
				}
				table[class=hidden],
				td[class=hidden] {
					display: none !important;
				}
			}

			@media only screen and (max-width:480px) {
				table[class=main] {
					width: 410px !important;
				}
				td[class=texto] {
					width: 410px !important;
				}
				td[class=col] {
					width: 390px !important;
					text-align: center;
					display: block !important;
				}
				table[class=row] {
					width: 390px !important;
				}
				td[class=colbutton] {
					width: 390px !important;
					text-align: center;
					display: block !important;
					padding-bottom: 20px;
				}
				td[class=button] {
					width: 390px !important;
					text-align: center;
					padding-bottom: 20px;
					display: block !important;
				}
				table[class=rows] {
					width: 370px !important;
					display: block;
				}
				td[class=cols] {
					width: 370px !important;
					text-align: center;
					display: block !important;
				}
				table[class=quote] {
					width: 370px !important;
					display: block;
				}
				td[class=icon] {
					width: 160px !important;
					display: block !important;
					float: left;
					padding: 0 0 6px 7px;
				}
				table[class=icons] {
					width: 150px !important;
					display: block !important;
				}
				table[class=social] {
					width: 100px !important;
					margin: 0 auto 10px;
				}
				table[class=hidden],
				td[class=hidden] {
					display: none !important;
				}
			}

			@media only screen and (min-width: 321px) and (max-width: 400px) {
				table[class=main] {
					width: 340px !important;
				}
				td[class=texto] {
					width: 320px !important;
				}
				td[class=col] {
					width: 320px !important;
					text-align: center;
					display: block !important;
				}
				table[class=row] {
					width: 320px !important;
				}
				td[class=colbutton] {
					width: 320px !important;
					text-align: center;
					display: block !important;
					padding-bottom: 20px;
				}
				td[class=button] {
					width: 320px !important;
					text-align: center;
					padding-bottom: 20px;
					display: block !important;
				}
				table[class=rows] {
					width: 310px !important;
					display: block;
				}
				td[class=cols] {
					width: 310px !important;
					text-align: center;
					display: block !important;
				}
				table[class=quote] {
					width: 320px !important;
					display: block;
				}
				td[class=icon] {
					width: 120px !important;
					display: block !important;
					float: left;
					padding: 0 0 6px 7px;
				}
				table[class=icons] {
					width: 110px !important;
					display: block !important;
				}
				table[class=social] {
					width: 60px !important;
					margin: 0 auto 10px;
				}
				table[class=hidden],
				td[class=hidden] {
					display: none !important;
				}
			}

			@media only screen and (max-width:320px) {
				table[class=main] {
					width: 320px !important;
				}
				td[class=texto] {
					width: 310px !important;
				}
				td[class=col] {
					width: 300px !important;
					text-align: center;
					display: block !important;
				}
				td[class=colbutton] {
					width: 300px !important;
					text-align: center;
					display: block !important;
					padding-bottom: 20px;
				}
				td[class=button] {
					width: 300px !important;
					text-align: center;
					padding-bottom: 20px;
					display: block !important;
				}
				td[class=icon] {
					width: 300px !important;
					text-align: center;
					display: block !important;
					padding: 0;
				}
				table[class=row] {
					width: 300px !important;
				}
				table[class=icons] {
					width: 270px !important;
					text-align: center;
					display: block !important;
				}
				table[class=rows] {
					width: 270px !important;
					display: block;
				}
				td[class=cols] {
					width: 270px !important;
					text-align: center;
					display: block !important;
				}
				table[class=quote] {
					width: 280px !important;
					display: block;
				}
				table[class=social] {
					width: 130px !important;
					margin: 0 auto 10px;
				}
				table[class=hidden],
				td[class=hidden] {
					display: none !important;
				}
			}
		</style>
	</head>
html
	header
	body
		table(width="680", border="0", cellpadding="0", cellspacing="0")
			tr
				td
					a(href=dir+'BCMNews_16SEP_03.pdf#page=1')
						img(src=dir+"images/emkt_01.jpg", border=0, style="display:block", height='41', alt="Microsoft")/
			tr
				td
					a(href=dir+'BCMNews_16SEP_03.pdf#page=1')
						img(src=dir+"images/emkt_02.jpg", border=0, style="display:block", height='157', alt="Brazil Channel Marketing News")/
			tr
				td
					a(href=dir+'BCMNews_16SEP_03.pdf#page=1')
						img(src=dir+"images/emkt_03.jpg", border=0, style="display:block", height='43', alt="SEP 2016 - Issue 03")/
			tr
				td
					table(width="680", border="0", cellpadding="0", cellspacing="0")
						tr
							td
								a(href=dir+'BCMNews_16SEP_03.pdf#page=3')
									img(src=dir+"images/emkt_04.jpg", border=0, style="display:block", width='170', height='390',alt="Spotlight")/
							td
								img(src=dir+"images/emkt_05.jpg", border=0, style="display:block", width='510', height='337',alt="The new Forza launch was a big success! From an augmented reality app, created for fans, to the event, with live competition, everything brought the gamer to the center of the action. Check the results.")/
								a(href=dir+'BCMNews_16SEP_03.pdf#page=3')
									img(src=dir+"images/emkt_06.jpg", border=0, style="display:block", width='510', height='53',alt="See more >")/
			tr
				td
					table(width="680", border="0", cellpadding="0", cellspacing="0")
						tr
							td
								a(href=dir+'BCMNews_16SEP_03.pdf#page=5')
									img(src=dir+"images/emkt_08.jpg", border=0, style="display:block", width='170', height='222',alt="Retail.com")/
							td
								img(src=dir+"images/emkt_07.jpg", border=0, style="display:block", width='510', height='168',alt="Office attach with smartphones. Smartphone offers with Office focusing on OneDrive message implemented in 7 retailers.")/
								a(href=dir+'BCMNews_16SEP_03.pdf#page=5')
									img(src=dir+"images/emkt_09.jpg", border=0, style="display:block", width='510', height='54',alt="See more >")/
			tr
				td
					table(width="680", border="0", cellpadding="0", cellspacing="0")
						tr
							td
								a(href=dir+'BCMNews_16SEP_03.pdf#page=7')
									img(src=dir+"images/emkt_10.jpg", border=0, style="display:block", width='170', height='265', alt="In Store")/
							td
								img(src=dir+"images/emkt_11.jpg", border=0, style="display:block", width='510', height='179',alt="Forza Horizon 3 in stores.Our Field Labor team was prepared to achieve 100% of the expected stores implemented with POP for Day One.")/
								a(href=dir+'BCMNews_16SEP_03.pdf#page=7')
									img(src=dir+"images/emkt_12.jpg", border=0, style="display:block", width='510', height='86',alt="See more >")/
			tr
				td
					table(width="680", border="0", cellpadding="0", cellspacing="0")
						tr
							td
								a(href=dir+'BCMNews_16SEP_03.pdf#page=8')
									img(src=dir+"images/emkt_13.jpg", border=0, style="display:block", width='170', height='292',alt="In-Person")/
							td
								img(src=dir+"images/emkt_14.jpg", border=0, style="display:block", width='510', height='201', alt="Finding our best evangelists. A new monthly recognition program that ranks and rewards the top 5 promoters has already shown potential champions in the team.")/
								a(href=dir+'BCMNews_16SEP_03.pdf#page=8')
									img(src=dir+"images/emkt_15.jpg", border=0, style="display:block", width='510', height='91',alt="See more >")/
			tr
				td
					table(width="680", border="0", cellpadding="0", cellspacing="0")
						tr
							td
								a(href=dir+'BCMNews_16SEP_03.pdf#page=9')
								img(src=dir+"images/emkt_16.jpg", border=0, style="display:block", width='340', height='208',alt="Learnings and Insights")/
								img(src=dir+"images/emkt_18.jpg", border=0, style="display:block", width='340', height='111',alt="OneDrive message. First insights from retailers and Retail Pros.")/
								a(href=dir+'BCMNews_16SEP_03.pdf#page=1')
									img(src=dir+"images/emkt_21.jpg", border=0, style="display:block", width='340', height='108',alt="See more >")/
							td
								a(href=dir+'BCMNews_16SEP_03.pdf#page=11')
									img(src=dir+"images/emkt_17.jpg", border=0, style="display:block", width='340', height='208',alt="Looking Forward")/
								img(src=dir+"images/emkt_20.jpg", border=0, style="display:block", width='340', height='111',alt="Digital Workshop in October We’ll provide a Digital Workshop to our group focused on SEO, SEM, consumer behavior, market trending and Digital IQ.")/
								a(href=dir+'BCMNews_16SEP_03.pdf#page=1')
									img(src=dir+"images/emkt_22.jpg", border=0, style="display:block", width='340', height='108',alt="See more >")/
			tr
				td
					a(href=dir+'BCMNews_16SEP_03.pdf#page=1')
						img(src=dir+"images/emkt_25.jpg", border=0, style="display:block", height='130',alt="We would love to hear your feedback.What are you thinking about Brazil Channel Marketing News? The 10 best comments will get a gift.")/
			tr
				td
					a(href='mailto:channelbrz@microsoft.com?subject=FEEDBACK - BCMNews SEPTEMBER 2016')
						img(src=dir+"images/emkt_26.jpg", border=0, style="display:block", height='81',alt="Tell Us >")/
			tr
				td
					a(href=dir+'BCMNews_16SEP_03.pdf#page=12')
						img(src=dir+"images/emkt_27.jpg", border=0, style="display:block", height='138',alt="SCORECARD, SITETRACKER AND OFFICE ATTACH. Are you updated? Catch up with everything you need to know.")/
			tr
				td
					a(href='http://www.microsoft.com')
						img(src=dir+"images/emkt_28.jpg", border=0, style="display:block", height='42',alt="")/
			tr
				td
					a(href='mailto:channelbrz@microsoft.com?subject=UNSUBSCRIBE - BCMNews SEPTEMBER 2016')
						img(src=dir+"images/emkt_29.jpg", border=0, style="display:block", height='64',alt="")/
		